<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <property name="CONSOLE_LOG_PATTERN_WITH_TRACE"
                  value="${CONSOLE_LOG_PATTERN}"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>${CONSOLE_LOG_THRESHOLD}</level>
            </filter>
            <encoder>
                <pattern> [TRACE-ID] %X{traceId} ${CONSOLE_LOG_PATTERN_WITH_TRACE}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
                <fieldNames>
                    <levelValue>[ignore]</levelValue>
                    <version>[ignore]</version>
                    <version>[ignore]</version>
                    <logger>[ignore]</logger>
                </fieldNames>
            </encoder>
        </appender>
    </springProfile>

    <logger name="az.baxtiyargil" level="INFO"/>
    <root level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>